.renewal-off{
    color: var(--Red-Old-Price, #FF5050) !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.renewal{
    color: var(--Solid-Safe-Green, #00D248) !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}