.sub-header{
    // font-family: Lexend;
    width: auto;
    .web-btn-container{
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 188px;
        margin-top: 32px;
        height: 36px;
        border-radius: 8px;
        border: 1px solid var(--Search-Bar-Stroke, #ECECEC);
        button{
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px;
        }
    }
    .content{
        margin-top: 40px;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .domains-header{
        margin-top: 32px;
        display: flex;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        .active{
            border-bottom: 2px solid #4660F1;
            margin-right: 32px;
        }
        .btn{
            margin-left: auto;
            display: flex;
            align-items: flex-start;
            gap: 10px;
            border-radius: 8px;
            border: 1px solid var(--Primary-Blue-Color, #4660F1);
            background: var(--Pure-White, #FFF);
            color: #4660F1;
            &:active{
                background-color: #FFF;
                color: #4660F1;
                border: 1px solid var(--Primary-Blue-Color, #4660F1);
            }
        }
    }
}